<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Programa 2</title>
</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-4">Calculos en Tiempo de Ejecucion y Frecuencia</h2>
        <form id="tablaForm">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="que-desea-calcular" class="form-label">¿Qué desea calcular?</label>
                    <select class="form-select" id="que-desea-calcular">
                        <option value="tiempoejecucion">Tiempo de Ejecución</option>
                        <option value="frecuencia">Frecuencia</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="instrucciones" class="form-label">Instrucciones (separadas por comas)</label>
                    <input type="text" class="form-control" id="instrucciones" placeholder="A, B, C, D, E">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="ciclos" class="form-label">Ciclos (separados por comas)</label>
                    <input type="text" class="form-control" id="ciclos" placeholder="7, 20, 5, 100, 100">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="veces" class="form-label">Veces que se repite (separadas por comas)</label>
                    <input type="text" class="form-control" id="veces" placeholder="1000, 100, 1000, 10, 5">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="frecuencia" class="form-label">Frecuencia</label>
                    <select class="form-select" id="frecuencia-unidad">
                        <option value="megahertz">Megahertz</option>
                        <option value="kilohertz">Kilohertz</option>
                    </select>
                    <input type="number" class="form-control mt-2" id="frecuencia" placeholder="2.4">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="tiempo-ejecucion" class="form-label">Tiempo de Ejecución</label>
                    <select class="form-select" id="tiempo-ejecucion-unidad">
                        <option value="segundos">Segundos</option>
                        <option value="nanosegundos">Nanosegundos</option>
                        <option value="milisegundos">Milisegundos</option>
                    </select>
                    <input type="number" class="form-control mt-2" id="tiempo-ejecucion" placeholder="Tiempo de Ejecución">
                </div>
            </div>
            <button id="genTabla" type="button" class="btn btn-primary">Generar Tabla</button>
        </form>
        
        <div id="tablaResultado" class="mt-4"></div>
    </div>

</body>
</html>
